Workflows/UpdateDOAStatusSortingValueonceastatuschanges-278A1AAC-4238-ED11-9DB1-000D3AF4C81E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "8174deaa-f364-4b6b-af79-868a53a01f4a"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "cr9fa_doarecords",
              "subscriptionRequest/scope": 2,
              "subscriptionRequest/filteringattributes": "cr9fa_currentdate,cr9fa_doastatus",
              "subscriptionRequest/filterexpression": "cr9fa_doastatus eq 1"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ac064c54-7031-4ba3-9e20-4e442b647e37"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cr9fa_doarecordses",
                  "recordId": "@triggerOutputs()?['body/cr9fa_doarecordsid']",
                  "item/cr9fa_doastatussortvalue": 2
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Condition_2": {
                "actions": {
                  "Update_a_row_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "b11a9584-2794-41ff-bfea-cf784a92f19c"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cr9fa_doarecordses",
                        "recordId": "@triggerOutputs()?['body/cr9fa_doarecordsid']",
                        "item/cr9fa_doastatussortvalue": 3
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "Update_a_row_3": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "fab9e012-a1dd-4d72-8a59-fc5e2364c36e"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cr9fa_doarecordses",
                          "recordId": "@triggerOutputs()?['body/cr9fa_doarecordsid']",
                          "item/cr9fa_doastatussortvalue": 1
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@triggerOutputs()?['body/cr9fa_doa_status']",
                    1
                  ]
                },
                "metadata": {
                  "operationMetadataId": "ed507d12-fc41-4971-a5db-871fd9269030"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/cr9fa_doa_status']",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "674c5c6e-bd14-4804-881c-b360f44366a0"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}